/* =============
    Typography
============= */
body{
    font-family: 'Leckerli One';
    margin: 0px;
}
input{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;

}
::placeholder{
    font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
}

.menuh2 .historyh2{
    font-family: 'Leckerli One';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 25px;
color: white; 
}


.menup .historyp{
    font-family: 'Leckerli One';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: white; 
}

.nxtvisit .directions{
    font-family: 'Leckerli One';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 25px;
    color: black;   
}

button{
    font-family: 'Leckerli One';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
color: black; 
/*background-color: $lightred;
border: 0px; */
}

h4{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    
    color: #637275; 
}
/* flavors------*/
.fl1, .fl2, .fl3, .fl4, .fl5{
    font-family: 'Leckerli One';
font-style: normal;
font-weight: 400;
font-size: 27px;
line-height: 30px;
}



p.flavorscolumn-grid{
    font-family: 'Leckerli One';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
color:#000000;
}

h2.locations{
    font-family: 'Leckerli One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
}

h3{
    font-family: 'Leckerli One';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
color:#000000; 
}

p.locations{
    font-family: 'Leckerli One';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
color:#000000;
}

.newsletter, .follow{
    font-family: 'Leckerli One';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 27px;
color:#000000;
}
