.herocontain{
    display:grid;
    grid-template-columns: 50% 50% ;
    
    
.hero2{
    img{
        width: 100%;
    }
}

    .sodahero{
        img{
            width: 100%
        }
    }
    .hero3{
        img{
            width: 100%
        }
    }

}
