/* menu */ 

.menu{
button{
    background-color: transparent;
    border:none;
}


background: #8C1B1D;
.menuh2{
    font-family: 'Leckerli One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
     color:#FFFFFF;
     
}
.menup{
    font-family: 'Leckerli One';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
     color:#FFFFFF; 
}
}

/* our history */ 
/* add breakpoint grid here--- split into 1 line */ 
.history{
    margin:0 px;
    padding-left:20px; 
    background: #D65E60; 
    button{
        background-color: transparent;
        border:none;
    }
    .historyh2{
        font-family: 'Leckerli One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #FFFFFF;
        
    }

    .historyp{
        font-family: 'Leckerli One';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
color: #FFFFFF; 

 
    }
}