/* menu */ 

.menu{
//     position: absolute;
// left: 0.62%;
// right: 0%;
// top: 0%;
// bottom: 56.96%;


background: #8C1B1D;
.menuh2{
    font-family: 'Leckerli One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
     color:#FFFFFF;
     
}
.menup{
    font-family: 'Leckerli One';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
     color:#FFFFFF; 
}
}

/* our history */ 
.history{
    // position: absolute;
    // left: 0%;
    // right: 0%;
    // top: 43.04%;
    // bottom: 0%;
    
    
    background: #D65E60; 

    .historyh2{
        font-family: 'Leckerli One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #FFFFFF;
        
    }

    .historyp{
        font-family: 'Leckerli One';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;


/* color: #FFFFFF; */

 
    }
}