.divider-grid{
    .visitcontainer{
        .icecream{
            width: 85px;
            height: 85px; 
            border-radius: 50%;
            border: 3.81px solid #F8F6E9 ;
        }
    }
}
.directionscontainer{
    .directioncontent{
        .map{
            width: 85px;
            height: 85px; 
            border-radius: 50%;
            border: 3.81px solid #F8F6E9;
        }
    }
}