.visit{

.icecream{
    position: absolute;
width: 86.16px;
height: 85px;
left: 219.57px;
top: 586px;

}
h1{
    font-family: 'Leckerli One';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 25px;   
}

}

/* directions */ 

.directions{
    h1{
        position: absolute;
        width: 86.16px;
        height: 85px;
        left: 219.57px;
        top: 586px; 
    }
    .map{
        position: absolute;
width: 86.16px;
height: 85px;
left: 219.57px;
top: 720px;

    }
}