/* =============
    Footer
============= */
footer{
    
background-color:rgba(151, 151, 151, 1) ;
.locations{
display: grid;
grid-template-columns:"flagship pennslanding fairmount";
gap:5px;
margin: none;

}
 
.newsletter{
    font-family: 'Leckerli One';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 27px;
}
.social{
   .follow{
    font-family: 'Leckerli One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;  
   } 

    .social-links{
        display: flex;
        margin:none;

    }
}
@include md{
    grid-template-columns: 50% 50%; 
        
}
}