/* =============
    Header
============= */
header{
     background-color: rgba(151, 151, 151, 1) ;
    .content{
        display:grid;
        margin: 20px 20px 20px 37px;
    }
}

input{
    margin: 20px 20px 20px 20px;
    inline-size: 55%;
   border: 0px;
   border-bottom: 1px solid $lightgrey;

   
}
button.search{
    background-color:#D02A2D ;
    border-radius:10%;
    
}