/* =============
    Header
============= */
header{
     background-color: rgba(151, 151, 151, 1) ;
    .content{
        display:grid;
        grid-template-columns: 50% 50% ;
       .search{
           size:43.6px 34px;
           background: color D 2A 2D;
       }
        
    }
}

button.search{
    background-color:#D02A2D ;
}